/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HE_CN_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/helios-cond-light_[allfont.ru].ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IntroBlack";
  src: url("../fonts/IntroBlack.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
/* line 23, ../sass/style.sass */
.wrapper {
  margin: 0 auto;
  max-width: 1185px;
}

/* line 26, ../sass/style.sass */
header .wrapper {
  position: relative;
}

/* line 28, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 31, ../sass/style.sass */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* line 36, ../sass/style.sass */
textarea {
  resize: none;
  overflow: auto;
}

/* line 39, ../sass/style.sass */
*:focus {
  outline: 0;
  text-decoration: none;
}

/* line 42, ../sass/style.sass */
.subheader {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 0;
  font-weight: bold;
  line-height: 1;
}
/* line 49, ../sass/style.sass */
.subheader span {
  display: inline-block;
  margin-top: 7px;
  background: #ff000b;
  padding: 9px 9px 0;
  font-size: 24px;
}

/* line 55, ../sass/style.sass */
h1.title {
  position: relative;
  font-family: "IntroBlack", arial, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* line 62, ../sass/style.sass */
h2.title {
  position: relative;
  font-family: "IntroBlack", arial, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/* line 69, ../sass/style.sass */
h2.title + i {
  position: absolute;
  height: 1px;
  width: 1180px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 78, ../sass/style.sass */
.mobile {
  display: none !important;
}

/* line 80, ../sass/style.sass */
.lamps {
  position: relative;
  display: block;
  max-width: 1180px;
  margin: 30px auto 0;
}
/* line 85, ../sass/style.sass */
.lamps i {
  position: absolute;
  width: 198px;
  height: 122px;
  background: url("../img/icons/lamp.png") no-repeat;
}
/* line 90, ../sass/style.sass */
.lamps i:nth-child(1) {
  top: 0;
  left: 0;
}
/* line 93, ../sass/style.sass */
.lamps i:nth-child(2) {
  top: 0;
  left: 25%;
}
/* line 96, ../sass/style.sass */
.lamps i:nth-child(3) {
  top: 0;
  left: 50%;
}
/* line 99, ../sass/style.sass */
.lamps i:nth-child(4) {
  top: 0;
  left: 75%;
}

/* line 103, ../sass/style.sass */
#callback {
  display: none;
}

/* line 105, ../sass/style.sass */
.fancybox-skin {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

/* line 110, ../sass/style.sass */
[class*="fancybox"] .form {
  margin-top: 0;
}

/* line 114, ../sass/style.sass */
.button {
  font-family: "IntroBlack", arial, sans-serif;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 124, ../sass/style.sass */
.button.button-red {
  border: 5px solid #ff000b;
  width: 580px;
  font-size: 24px;
  height: 60px;
  background: none;
  border-radius: 30px;
  transition-duration: 0.5s;
}
/* line 132, ../sass/style.sass */
.button.button-red:hover {
  border-color: #fff;
}

/* line 135, ../sass/style.sass */
body {
  font-family: "HeliosCond", arial, sans-serif;
  font-weight: bold;
  background: #000;
  min-width: 1220px;
}

/* line 140, ../sass/style.sass */
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 1220px;
  height: 100px;
  background: rgba(255, 0, 11, 0.8);
  font-family: "IntroBlack", arial, sans-serif;
  transition-duration: 0.5s;
}
/* line 150, ../sass/style.sass */
.header .logo {
  width: 280px;
  height: 75px;
  margin-top: 15px;
  float: left;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transition-duration: 0.5s;
}
/* line 158, ../sass/style.sass */
.header-nav {
  float: left;
  margin: 40px 20px 0;
  transition-duration: 0.5s;
  margin-right: 0px;
}
/* line 163, ../sass/style.sass */
.header-nav li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #fff;
}
/* line 167, ../sass/style.sass */
.header-nav li:nth-child(2) {
  padding-left: 0;
}
/* line 169, ../sass/style.sass */
.header-nav li:last-child {
  padding-right: 0;
  border-right: none;
}
/* line 172, ../sass/style.sass */
.header-nav li a {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
/* line 177, ../sass/style.sass */
.header-nav li a:before {
  display: block;
  background: #fff;
  height: 2px;
  content: "";
  width: 0;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transition: all 0.5s ease;
}
/* line 187, ../sass/style.sass */
.header-nav li a:hover:before {
  width: 100%;
  left: 0%;
}
/* line 190, ../sass/style.sass */
.header-callback {
  width: 176px;
  float: right;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 200, ../sass/style.sass */
.header-callback em {
  display: block;
  font-size: 16px;
}
/* line 203, ../sass/style.sass */
.header-callback .callback {
  color: white;
  background-color: #ff000b;
  margin-top: 6px;
  width: 100%;
  padding: 6px 0;
  transition-duration: 0.5s;
}
/* line 210, ../sass/style.sass */
.header-callback .callback:hover {
  background: #fff;
  color: #f42c37;
}
/* line 213, ../sass/style.sass */
.header.zipped {
  height: 60px;
  background: #EF2732;
}
/* line 216, ../sass/style.sass */
.header.zipped .logo {
  height: 60px;
  transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  margin-top: -4px;
}
/* line 222, ../sass/style.sass */
.header.zipped .header-nav {
  margin-top: 20px;
}
/* line 224, ../sass/style.sass */
.header.zipped .button.callback {
  padding: 2px 0;
  height: 0;
  border-color: transparent;
  color: transparent;
  background-color: transparent;
}

/* line 230, ../sass/style.sass */
.slider {
  position: relative;
  max-width: 1180px;
  height: 600px;
  color: #fff;
  text-align: left;
}
/* line 236, ../sass/style.sass */
.slider li {
  line-height: 1.2;
}
/* line 238, ../sass/style.sass */
.slider h4 {
  font-size: 36px;
  text-transform: uppercase;
}
/* line 241, ../sass/style.sass */
.slider p {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
}
/* line 245, ../sass/style.sass */
.slider .cd-radial-slider-navigation li {
  top: 49%;
}
/* line 247, ../sass/style.sass */
.slider .cd-radial-slider-content .wrapper > div {
  text-align: left;
}

/* line 250, ../sass/style.sass */
section {
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
  overflow: hidden;
}

/* line 255, ../sass/style.sass */
.first {
  text-align: center;
  background: url("../img/new_render_s.jpg");
  background-size: cover;
  background-position: center;
  height: 2400px;
  transition-duration: 0.5s;
}
/* line 262, ../sass/style.sass */
.first .first_name {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 4;
}
/* line 267, ../sass/style.sass */
.first .first_name .classh2 {
  margin: 245px 0 35px;
  text-transform: uppercase;
  font-size: 24px;
  color: #000;
}
/* line 272, ../sass/style.sass */
.first .first_name .classh2 em {
  display: block;
  margin-top: 10px;
  font-size: 42px;
}
/* line 276, ../sass/style.sass */
.first .subheader span {
  font-size: 72px;
  margin-top: 0;
}
/* line 279, ../sass/style.sass */
.first .slider {
  margin: 1600px auto 0;
}
/* line 281, ../sass/style.sass */
.first .trigger-0 {
  position: absolute;
  top: 700px;
}
/* line 284, ../sass/style.sass */
.first .block1, .first .block2, .first .block3 {
  position: absolute;
}
/* line 286, ../sass/style.sass */
.first .block1 {
  width: 400px;
  height: 300px;
  top: 600px;
  left: 30%;
  transition: 5s;
  opacity: 1;
  z-index: 2;
}
/* line 294, ../sass/style.sass */
.first .block1 img {
  width: 400px;
  transition: 5s;
}
/* line 297, ../sass/style.sass */
.first .block2 {
  bottom: -5px;
  right: 0%;
  width: 100%;
  z-index: 3;
  transition: 0.6s;
}
/* line 304, ../sass/style.sass */
.first .block2 img {
  width: 100%;
}
/* line 306, ../sass/style.sass */
.first .block3 {
  top: 0px;
  left: -20%;
  transition: 0.6s;
  z-index: 1;
}
/* line 311, ../sass/style.sass */
.first .block3 img {
  width: 100%;
  height: 100%;
}

/* line 314, ../sass/style.sass */
.second, .ninth, .eleventh, .thirteenth, .fifteenth {
  height: 250px;
  line-height: 250px;
}

/* line 318, ../sass/style.sass */
.second [class*="trigger"], .seventh [class*="trigger"], .eigth [class*="trigger"], .ninth [class*="trigger"], .eleventh [class*="trigger"], .thirteenth [class*="trigger"], .fifteenth [class*="trigger"] {
  position: absolute;
  top: -100px;
}
/* line 321, ../sass/style.sass */
.second .title, .seventh .title, .eigth .title, .ninth .title, .eleventh .title, .thirteenth .title, .fifteenth .title {
  transform: translateX(-100%);
}
/* line 323, ../sass/style.sass */
.second i.line, .seventh i.line, .eigth i.line, .ninth i.line, .eleventh i.line, .thirteenth i.line, .fifteenth i.line {
  transform: translateX(120%);
  display: none;
}

/* line 326, ../sass/style.sass */
.second {
  background: url("../img/bg-2.jpg");
  background-size: cover;
}

/* line 329, ../sass/style.sass */
.third, .fifth {
  padding-bottom: 130px;
}
/* line 331, ../sass/style.sass */
.third .wrapper, .fifth .wrapper {
  position: relative;
  z-index: 1;
}
/* line 334, ../sass/style.sass */
.third .subheader, .fifth .subheader {
  margin-top: 115px;
}
/* line 336, ../sass/style.sass */
.third .subheader span, .fifth .subheader span {
  font-size: 48px;
  line-height: 1.25;
  padding: 5px 5px 0;
}
/* line 340, ../sass/style.sass */
.third .more, .fifth .more {
  margin-top: 45px;
  line-height: 1.25;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

/* line 346, ../sass/style.sass */
.light {
  position: relative;
}
/* line 348, ../sass/style.sass */
.light:before, .light:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}
/* line 353, ../sass/style.sass */
.light:before {
  top: 0;
  background: url("../img/bg-3-top.png") no-repeat center;
  background-size: cover;
  height: 373px;
}
/* line 358, ../sass/style.sass */
.light:after {
  bottom: 0;
  background: url("../img/bg-3-bot.png") no-repeat center;
  background-size: cover;
  height: 271px;
}
/* line 363, ../sass/style.sass */
.light p {
  color: #fff;
}

/* line 367, ../sass/style.sass */
.third .lamps i:nth-child(1) {
  top: 0;
  left: 7%;
}
/* line 370, ../sass/style.sass */
.third .lamps i:nth-child(2) {
  top: 0;
  left: 41%;
}
/* line 373, ../sass/style.sass */
.third .lamps i:nth-child(3) {
  top: 0;
  left: 76%;
}

/* line 376, ../sass/style.sass */
.fourth {
  background: url("../img/bg-4.jpg") no-repeat center fixed;
  background-size: cover;
}
/* line 379, ../sass/style.sass */
.fourth .wrapper {
  margin: 35px auto 100px;
  position: relative;
  overflow: hidden;
}
/* line 383, ../sass/style.sass */
.fourth .wrapper:before, .fourth .wrapper:after {
  position: absolute;
  top: 30%;
  content: "";
  width: 1px;
  height: 39%;
  border-right: 1px dotted #000;
}
/* line 390, ../sass/style.sass */
.fourth .wrapper:before {
  left: 5px;
}
/* line 392, ../sass/style.sass */
.fourth .wrapper:after {
  right: 5px;
}
/* line 394, ../sass/style.sass */
.fourth .clock {
  margin: 13px;
  height: 196px;
  width: 196px;
  background: url("../img/icons/clock.png") no-repeat center;
}
/* line 400, ../sass/style.sass */
.fourth .clock.active .minutes {
  transform: rotateZ(720deg);
}
/* line 402, ../sass/style.sass */
.fourth .clock.active .hours {
  transform: rotateZ(360deg);
}
/* line 404, ../sass/style.sass */
.fourth .minutes-container, .fourth .hours-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 410, ../sass/style.sass */
.fourth .round {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 89px;
  width: 18px;
  height: 18px;
  border: 6px solid #ff000b;
  border-radius: 50%;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
/* line 423, ../sass/style.sass */
.fourth .minutes {
  position: absolute;
  background: #ff000b;
  border-radius: 6px;
  height: 21.5%;
  left: 49%;
  top: 25%;
  transform-origin: 50% calc(100% + 7px);
  width: 2%;
  transition-duration: 3s;
}
/* line 436, ../sass/style.sass */
.fourth .hours {
  position: absolute;
  background: #ff000b;
  border-radius: 6px;
  height: 19%;
  left: 48.75%;
  top: 28%;
  transform-origin: 50% calc(100% + 7px);
  width: 2.5%;
  transition-duration: 3s;
}
/* line 450, ../sass/style.sass */
.fourth li {
  position: relative;
  float: left;
  width: 250px;
  height: 220px;
  margin-right: 60px;
  margin-bottom: 55px;
  text-align: center;
  font-size: 208px;
  color: #fff;
}
/* line 460, ../sass/style.sass */
.fourth li:after {
  position: absolute;
  top: 118px;
  right: -95px;
  content: "";
  height: 1px;
  width: 119px;
  border-top: 1px dotted #000;
}
/* line 468, ../sass/style.sass */
.fourth li:nth-child(4n) {
  margin-right: 0;
}
/* line 470, ../sass/style.sass */
.fourth li:nth-child(4n):after {
  display: none;
}
/* line 472, ../sass/style.sass */
.fourth li > * {
  position: absolute;
}
/* line 474, ../sass/style.sass */
.fourth li .subheader {
  top: 88px;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
}
/* line 480, ../sass/style.sass */
.fourth li .subheader span {
  font-size: 36px;
}
/* line 482, ../sass/style.sass */
.fourth li .text {
  top: 166px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
/* line 490, ../sass/style.sass */
.fourth li .text:first-line {
  font-weight: 300;
}

/* line 493, ../sass/style.sass */
.fifth .lamps {
  display: none;
}

/* line 495, ../sass/style.sass */
.sixth {
  height: 650px;
}

/* line 499, ../sass/style.sass */
.seventh {
  height: 650px;
  background: url("../img/panorama3.jpg");
  background-position: 0 0;
}
/* line 503, ../sass/style.sass */
.seventh h2 {
  margin-top: 90px;
}
/* line 505, ../sass/style.sass */
.seventh h2 + i {
  top: 145px;
}

/* line 507, ../sass/style.sass */
.eigth {
  height: 1120px;
}
/* line 510, ../sass/style.sass */
.eigth .lamps i:nth-child(1) {
  top: 0;
  left: 5%;
}
/* line 513, ../sass/style.sass */
.eigth .lamps i:nth-child(2) {
  top: 0;
  left: 30%;
}
/* line 516, ../sass/style.sass */
.eigth .lamps i:nth-child(3) {
  top: 0;
  left: 55%;
}
/* line 519, ../sass/style.sass */
.eigth .lamps i:nth-child(4) {
  top: 0;
  left: 80%;
}
/* line 522, ../sass/style.sass */
.eigth h2 {
  margin-top: 110px;
}
/* line 524, ../sass/style.sass */
.eigth h2 + i {
  top: 163px;
}
/* line 526, ../sass/style.sass */
.eigth .gallery {
  margin: 50px auto 70px;
  position: relative;
  max-width: 1110px;
  height: 650px;
}
/* line 531, ../sass/style.sass */
.eigth .gallery a {
  position: absolute;
}
/* line 533, ../sass/style.sass */
.eigth .gallery a:after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(255, 0, 11, 0.7);
}
/* line 543, ../sass/style.sass */
.eigth .gallery a:hover:after {
  display: block;
}
/* line 545, ../sass/style.sass */
.eigth .gallery a:nth-child(1) {
  top: 0;
  left: 43px;
}
/* line 548, ../sass/style.sass */
.eigth .gallery a:nth-child(2) {
  top: 0;
  left: 360px;
}
/* line 551, ../sass/style.sass */
.eigth .gallery a:nth-child(3) {
  top: 0;
  left: 553px;
}
/* line 554, ../sass/style.sass */
.eigth .gallery a:nth-child(4) {
  top: 166px;
  left: 135px;
}
/* line 557, ../sass/style.sass */
.eigth .gallery a:nth-child(5) {
  top: 222px;
  left: 360px;
}
/* line 560, ../sass/style.sass */
.eigth .gallery a:nth-child(6) {
  top: 197px;
  left: 552px;
}
/* line 563, ../sass/style.sass */
.eigth .gallery a:nth-child(7) {
  top: 386px;
  left: 552px;
}
/* line 566, ../sass/style.sass */
.eigth .gallery a:nth-child(8) {
  top: 428px;
  left: 0px;
}
/* line 569, ../sass/style.sass */
.eigth .gallery a:nth-child(9) {
  top: 440px;
  left: 361px;
}
/* line 572, ../sass/style.sass */
.eigth .gallery a:nth-child(10) {
  top: 464px;
  left: 742px;
}
/* line 575, ../sass/style.sass */
.eigth .gallery a:nth-child(11) {
  top: 197px;
  left: 742px;
}
/* line 578, ../sass/style.sass */
.eigth #openGal {
  line-height: 48px;
  position: relative;
  margin-top: 720px;
}
/* line 582, ../sass/style.sass */
.eigth #openGal:hover {
  color: #fff;
}
/* line 584, ../sass/style.sass */
.eigth #openGal:after {
  border-radius: 30px;
}

/* line 587, ../sass/style.sass */
.ninth {
  background: url("../img/bg-9.jpg") center;
  background-size: cover;
}

/* line 592, ../sass/style.sass */
.tenth {
  counter-reset: number;
  padding-bottom: 1px;
}
/* line 595, ../sass/style.sass */
.tenth .wrapper {
  margin: 60px auto 45px;
}
/* line 598, ../sass/style.sass */
.tenth li {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 390px;
  margin: 0 30px 30px 0;
  padding: 10px 20px;
  float: left;
  background: #e5e5e5;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.5s;
}
/* line 610, ../sass/style.sass */
.tenth li:before {
  position: absolute;
  top: 60px;
  left: 30px;
  counter-increment: number;
  content: counter(number);
  font-size: 100px;
  color: #5490b2;
  font-weight: 300;
}
/* line 619, ../sass/style.sass */
.tenth li:hover {
  box-shadow: 0 0 60px 8px #ff000b;
}
/* line 621, ../sass/style.sass */
.tenth li img {
  margin-left: 35px;
}
/* line 624, ../sass/style.sass */
.tenth li .subheader span {
  margin-top: 4px;
  padding: 6px 7px 3px;
}
/* line 627, ../sass/style.sass */
.tenth li .last {
  display: block;
  margin-top: 20px;
  line-height: 24px;
  color: #433c3c;
  font-weight: 300;
}
/* line 633, ../sass/style.sass */
.tenth li:nth-child(13) {
  margin-left: 25%;
}

/* line 635, ../sass/style.sass */
.eleventh {
  background: url("../img/bg-11.jpg") center;
  background-size: cover;
}

/* line 638, ../sass/style.sass */
.twelfth {
  padding: 55px 0 85px;
}
/* line 640, ../sass/style.sass */
.twelfth:before {
  top: -65px;
  background: url("../img/bg-12.png") no-repeat center;
  background-size: cover;
  height: 292px;
}
/* line 645, ../sass/style.sass */
.twelfth:after {
  bottom: -35px;
  background: url("../img/bg-12.png") no-repeat center;
  background-size: cover;
  height: 292px;
}
/* line 650, ../sass/style.sass */
.twelfth .grid {
  padding: 0;
  max-width: 1220px;
  z-index: 1;
}
/* line 654, ../sass/style.sass */
.twelfth .grid figure {
  width: 590px;
  height: 420px;
  max-width: none;
  max-height: none;
  margin: 10px;
  background: #212635;
}
/* line 661, ../sass/style.sass */
.twelfth .grid h2 {
  font-size: 72px;
  font-weight: bold;
  padding: 30px 40px;
}
/* line 665, ../sass/style.sass */
.twelfth .grid h3 {
  font-size: 72px;
  font-weight: bold;
  padding: 30px 40px;
}
/* line 669, ../sass/style.sass */
.twelfth .grid p {
  font-size: 36px;
  font-weight: 300;
  width: 80%;
  text-align: left;
}
/* line 674, ../sass/style.sass */
.twelfth .grid p em {
  font-weight: bold;
}

/* line 677, ../sass/style.sass */
.thirteenth {
  background: url("../img/bg-13.jpg") center;
  background-size: cover;
}

/* line 681, ../sass/style.sass */
.fourteenth:before {
  top: 0px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 686, ../sass/style.sass */
.fourteenth:after {
  bottom: -45px;
  background: url("../img/bg-14-bot.png") no-repeat center;
  background-size: cover;
  height: 253px;
}
/* line 691, ../sass/style.sass */
.fourteenth .wrapper {
  position: relative;
  margin: 65px auto 100px;
  z-index: 1;
}
/* line 695, ../sass/style.sass */
.fourteenth .text {
  width: 620px;
  text-align: left;
}
/* line 698, ../sass/style.sass */
.fourteenth .text a {
  line-height: 48px;
}
/* line 700, ../sass/style.sass */
.fourteenth .text a:hover {
  color: #fff;
}
/* line 702, ../sass/style.sass */
.fourteenth .subheader {
  margin-top: 10px;
  text-align: left;
  margin-right: 550px;
}
/* line 706, ../sass/style.sass */
.fourteenth .subheader span {
  font-size: 48px;
}
/* line 708, ../sass/style.sass */
.fourteenth p {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}
/* line 713, ../sass/style.sass */
.fourteenth .button {
  margin: 50px 0 27px;
}
/* line 715, ../sass/style.sass */
.fourteenth .more-info {
  display: block;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #e2dede;
}
/* line 721, ../sass/style.sass */
.fourteenth [class*="img-"] {
  position: absolute;
}
/* line 723, ../sass/style.sass */
.fourteenth .img-first {
  width: 540px;
  top: 11px;
  right: 0;
}
/* line 727, ../sass/style.sass */
.fourteenth .img-second {
  width: 540px;
  top: 440px;
  right: 0px;
  border-top: 20px solid #000;
}

/* line 732, ../sass/style.sass */
.fifteenth {
  background: url("../img/bg-15.jpg") center;
  background-size: cover;
}

/* line 735, ../sass/style.sass */
.sixteenth {
  padding-bottom: 1px;
}
/* line 737, ../sass/style.sass */
.sixteenth:before {
  top: 0px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 742, ../sass/style.sass */
.sixteenth:after {
  bottom: 15px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 747, ../sass/style.sass */
.sixteenth .wrapper {
  display: inline-block;
  margin: 75px auto 105px;
  text-align: left;
  position: relative;
  z-index: 1;
}
/* line 753, ../sass/style.sass */
.sixteenth .wrapper:before, .sixteenth .wrapper:after {
  position: absolute;
  top: -60px;
  content: "";
  width: 198px;
  height: 122px;
}
/* line 760, ../sass/style.sass */
.sixteenth .wrapper:before {
  left: 62px;
}
/* line 762, ../sass/style.sass */
.sixteenth .wrapper:after {
  left: 275px;
}
/* line 764, ../sass/style.sass */
.sixteenth .wrapper a {
  line-height: 48px;
}
/* line 766, ../sass/style.sass */
.sixteenth .wrapper a:hover {
  color: #fff;
}
/* line 768, ../sass/style.sass */
.sixteenth p {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 300;
}
/* line 772, ../sass/style.sass */
.sixteenth img {
  display: block;
  margin: 16px auto 16px;
}
/* line 776, ../sass/style.sass */
.sixteenth .left-part {
  float: left;
  width: 100%;
}
/* line 779, ../sass/style.sass */
.sixteenth .left-part p {
  text-align: center;
}
/* line 781, ../sass/style.sass */
.sixteenth .right-part {
  float: right;
  width: 100%;
}
/* line 784, ../sass/style.sass */
.sixteenth .right-part p {
  margin-top: 80px;
}
/* line 786, ../sass/style.sass */
.sixteenth .right-part .docs {
  width: 100%;
}
/* line 788, ../sass/style.sass */
.sixteenth .right-part .docs .maindocs {
  width: 10%;
  display: inline-block;
  margin: 3%;
}
/* line 792, ../sass/style.sass */
.sixteenth .right-part .docs .maindocs img {
  width: 100%;
}
/* line 795, ../sass/style.sass */
.sixteenth .subheader {
  margin-top: 7px;
  text-transform: none;
  float: right;
  width: 100%;
}
/* line 800, ../sass/style.sass */
.sixteenth .subheader span {
  font-size: 44px;
  margin-top: 7px;
}
/* line 803, ../sass/style.sass */
.sixteenth .button {
  margin-top: 60px;
  clear: both;
  float: right;
}

/* line 807, ../sass/style.sass */
.logo_kdd {
  width: 46%;
  float: right;
}

/* line 810, ../sass/style.sass */
.logo_riv {
  width: 51%;
  float: left;
  margin-top: 0px;
}

/* line 815, ../sass/style.sass */
.seventeenth {
  height: 800px;
  background: url("../img/bg-17.jpg") center;
  background-size: cover;
}

/* line 819, ../sass/style.sass */
.form {
  max-width: 1200px;
  position: relative;
  height: 580px;
  margin-top: 90px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 30px;
  box-sizing: border-box;
}
/* line 827, ../sass/style.sass */
.form * {
  box-sizing: border-box;
}
/* line 829, ../sass/style.sass */
.form h2 {
  margin-bottom: 28px;
}
/* line 831, ../sass/style.sass */
.form h2:before {
  display: none;
}
/* line 833, ../sass/style.sass */
.form input, .form textarea, .form .placeholder {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: none;
  border: none;
}
/* line 840, ../sass/style.sass */
.form input, .form textarea {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ff000b;
  transition-duration: 0.3s;
}
/* line 845, ../sass/style.sass */
.form input:focus, .form textarea:focus {
  box-shadow: 0 0 4px 3px #ff000b;
  border: none;
}
/* line 848, ../sass/style.sass */
.form input:focus + .placeholder, .form textarea:focus + .placeholder {
  display: none;
}
/* line 850, ../sass/style.sass */
.form input {
  width: 370px;
  height: 40px;
  padding: 0 30px;
}
/* line 854, ../sass/style.sass */
.form input[type="email"] {
  float: right;
}
/* line 856, ../sass/style.sass */
.form input[type="text"] {
  margin-right: 10px;
}
/* line 858, ../sass/style.sass */
.form textarea {
  width: 100%;
  height: 180px;
  padding: 10px 35px;
  margin-top: 30px;
}
/* line 863, ../sass/style.sass */
.form .placeholder {
  position: absolute;
}
/* line 865, ../sass/style.sass */
.form .placeholder i {
  color: #ff000b;
}
/* line 867, ../sass/style.sass */
.form [type="text"] + .placeholder {
  left: 70px;
  top: 171px;
}
/* line 870, ../sass/style.sass */
.form [type="email"] + .placeholder {
  right: 187px;
  top: 171px;
}
/* line 873, ../sass/style.sass */
.form [type="tel"] + .placeholder {
  left: 450px;
  top: 171px;
}
/* line 876, ../sass/style.sass */
.form textarea + .placeholder {
  left: 70px;
  top: 250px;
}
/* line 879, ../sass/style.sass */
.form .button {
  float: right;
  margin-top: 50px;
  border-color: #fff;
}
/* line 883, ../sass/style.sass */
.form .button:hover {
  border-color: #ff000b;
}

/* line 885, ../sass/style.sass */
.g-recaptcha {
  float: left;
  margin-top: 14px;
}

/* line 888, ../sass/style.sass */
footer {
  height: 90px;
  line-height: 90px;
  font-size: 14px;
  color: #6c6f73;
  text-transform: uppercase;
  font-weight: 300;
  background: #fff;
}
/* line 896, ../sass/style.sass */
footer .smarto {
  float: right;
}
/* line 898, ../sass/style.sass */
footer .fb-foot {
  margin-right: 50px;
  padding-top: 20px;
  float: right;
  height: 50px;
}
/* line 903, ../sass/style.sass */
footer .logo-smart {
  position: relative;
  top: 18px;
  display: inline-block;
  margin-left: 30px;
  width: 95px;
  height: 49px;
  background: url("../img/logo-smart.png");
}

/*                         +++ RESPONSIVE +++                                   */
@media screen and (min-width: 2500px) {
  /* line 915, ../sass/style.sass */
  .first {
    height: 3900px;
  }

  /* line 919, ../sass/style.sass */
  .seventh {
    background: url(../img/panorama5.jpg);
  }
}
@media screen and (min-width: 1900px) and (max-width: 2500px) {
  /* line 923, ../sass/style.sass */
  .first {
    height: 3200px;
  }

  /* line 927, ../sass/style.sass */
  .seventh {
    background: url(../img/panorama5.jpg);
  }
}
@media screen and (max-width: 856px) and (min-width: 380px) {
  /* line 931, ../sass/style.sass */
  .wrapper {
    max-width: 380px;
  }

  /* line 933, ../sass/style.sass */
  .first .subheader span {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 30px;
  }

  /* line 938, ../sass/style.sass */
  h2.title {
    font-size: 36px;
  }
  /* line 940, ../sass/style.sass */
  h2.title + i {
    width: 80%;
  }

  /* line 942, ../sass/style.sass */
  .button.button-red {
    width: 100%;
  }

  /* line 944, ../sass/style.sass */
  .slider {
    height: 800px;
    width: calc(100% - 12px);
    background: rgba(0, 0, 0, 0.7);
  }
  /* line 948, ../sass/style.sass */
  .slider svg {
    display: none;
  }
  /* line 950, ../sass/style.sass */
  .slider .svg-wrapper {
    padding-bottom: 800px;
  }
  /* line 952, ../sass/style.sass */
  .slider .cd-radial-slider-content .wrapper > div {
    padding: 0 8%;
  }
  /* line 954, ../sass/style.sass */
  .slider .cd-radial-slider-navigation li {
    right: 1%;
  }
  /* line 956, ../sass/style.sass */
  .slider .cd-radial-slider-navigation li:last-of-type {
    left: 1%;
  }

  /* line 958, ../sass/style.sass */
  body {
    min-width: 320px;
  }

  /* line 960, ../sass/style.sass */
  .header {
    min-width: 380px;
    position: fixed;
    text-align: center;
    height: 350px;
  }
  /* line 965, ../sass/style.sass */
  .header .logo {
    float: none;
    display: inline-block;
    margin-top: 35px;
  }
  /* line 969, ../sass/style.sass */
  .header-nav {
    float: none;
    margin: 30px auto;
  }
  /* line 972, ../sass/style.sass */
  .header-nav li {
    display: none;
  }
  /* line 974, ../sass/style.sass */
  .header-nav li.mobile {
    display: block !important;
    width: 68px;
    height: 35px;
    background: url("../img/icons/gamburger.png") no-repeat;
    border-right: 0;
    padding: 0;
    margin: auto;
  }
  /* line 982, ../sass/style.sass */
  .header-nav li.mobile ul {
    display: none;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F22833;
    border-radius: 4px;
  }
  /* line 991, ../sass/style.sass */
  .header-nav li.mobile ul li {
    display: block;
    border-right: none;
  }
  /* line 994, ../sass/style.sass */
  .header-nav li.mobile ul li:first-child {
    height: 40px;
  }
  /* line 996, ../sass/style.sass */
  .header-nav li.mobile ul li a {
    font-size: 24px;
    line-height: 36px;
  }
  /* line 1000, ../sass/style.sass */
  .header-callback {
    float: none;
    width: 280px;
    height: auto;
    margin: auto;
    font-size: 14px;
  }
  /* line 1006, ../sass/style.sass */
  .header-callback em {
    margin-top: 10px;
    font-size: 24px;
  }
  /* line 1009, ../sass/style.sass */
  .header .callback {
    margin-top: 25px;
  }
  /* line 1011, ../sass/style.sass */
  .header.zipped {
    height: 80px;
  }
  /* line 1013, ../sass/style.sass */
  .header.zipped .logo {
    float: right;
    margin: 15px;
    width: 185px;
  }
  /* line 1017, ../sass/style.sass */
  .header.zipped .logo img {
    width: 100%;
  }
  /* line 1019, ../sass/style.sass */
  .header.zipped .header-callback {
    display: none;
  }
  /* line 1021, ../sass/style.sass */
  .header.zipped .header-nav {
    float: left;
    margin-left: 20px;
  }
  /* line 1025, ../sass/style.sass */
  .header.zipped + .first h2 {
    transition-duration: 1s;
    margin-top: 375px;
  }

  /* line 1028, ../sass/style.sass */
  .first {
    height: 2140px;
  }
  /* line 1030, ../sass/style.sass */
  .first .first_name {
    margin: 120px 20px 35px;
    left: 0%;
  }
  /* line 1034, ../sass/style.sass */
  .first .subheader {
    font-size: 48px;
    margin: 0 10px;
  }
  /* line 1037, ../sass/style.sass */
  .first .trigger-0 {
    top: 400px;
  }
  /* line 1039, ../sass/style.sass */
  .first .slider {
    margin: 1150px 6px 0;
  }

  /* line 1041, ../sass/style.sass */
  .second, .ninth, .eleventh, .thirteenth, .fifteenth {
    height: 150px;
    line-height: 150px;
  }

  /* line 1044, ../sass/style.sass */
  .third, .fifth {
    text-align: left;
  }
  /* line 1046, ../sass/style.sass */
  .third .lamps, .fifth .lamps {
    display: block;
  }
  /* line 1049, ../sass/style.sass */
  .third .lamps i:nth-child(1), .fifth .lamps i:nth-child(1) {
    left: -7%;
  }
  /* line 1051, ../sass/style.sass */
  .third .lamps i:nth-child(2), .fifth .lamps i:nth-child(2) {
    left: 22%;
  }
  /* line 1053, ../sass/style.sass */
  .third .lamps i:nth-child(3), .fifth .lamps i:nth-child(3) {
    left: 53%;
  }
  /* line 1055, ../sass/style.sass */
  .third .subheader, .fifth .subheader {
    margin-top: 100px;
  }
  /* line 1057, ../sass/style.sass */
  .third .subheader span, .fifth .subheader span {
    font-size: 30px;
    margin-top: 6px;
  }

  /* line 1062, ../sass/style.sass */
  .fourth .wrapper:before, .fourth .wrapper:after {
    display: none;
  }
  /* line 1064, ../sass/style.sass */
  .fourth .clock {
    margin: 13px 30px;
  }
  /* line 1066, ../sass/style.sass */
  .fourth li {
    float: none;
    margin: 0 auto 50px;
  }
  /* line 1069, ../sass/style.sass */
  .fourth li:after {
    display: none;
  }
  /* line 1071, ../sass/style.sass */
  .fourth li:nth-child(4n) {
    margin-right: auto;
  }

  /* line 1073, ../sass/style.sass */
  .seventh {
    height: 415px;
    background-size: auto 100%;
  }
  /* line 1076, ../sass/style.sass */
  .seventh h2 {
    margin-top: 75px;
  }
  /* line 1078, ../sass/style.sass */
  .seventh h2 + i {
    top: 95px;
  }

  /* line 1080, ../sass/style.sass */
  .eigth {
    height: auto;
    padding-bottom: 85px;
  }
  /* line 1083, ../sass/style.sass */
  .eigth #openGal {
    margin-top: 960px;
  }
  /* line 1087, ../sass/style.sass */
  .eigth .lamps i:nth-child(1) {
    left: -7%;
  }
  /* line 1089, ../sass/style.sass */
  .eigth .lamps i:nth-child(2) {
    left: 22%;
  }
  /* line 1091, ../sass/style.sass */
  .eigth .lamps i:nth-child(3) {
    left: 53%;
  }
  /* line 1093, ../sass/style.sass */
  .eigth .lamps i:last-child {
    display: none;
  }
  /* line 1095, ../sass/style.sass */
  .eigth .gallery {
    margin: 70px auto 50px;
    height: 940px;
    max-width: 380px;
  }
  /* line 1099, ../sass/style.sass */
  .eigth .gallery a {
    position: absolute;
  }
  /* line 1101, ../sass/style.sass */
  .eigth .gallery a img {
    width: 100%;
  }
  /* line 1103, ../sass/style.sass */
  .eigth .gallery a:after {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(255, 0, 11, 0.7);
  }
  /* line 1112, ../sass/style.sass */
  .eigth .gallery a:hover:after {
    display: block;
  }
  /* line 1114, ../sass/style.sass */
  .eigth .gallery a:nth-child(1) {
    top: 0;
    left: 5px;
    width: 230px;
  }
  /* line 1118, ../sass/style.sass */
  .eigth .gallery a:nth-child(2) {
    top: 0;
    left: 240px;
    width: 133px;
  }
  /* line 1122, ../sass/style.sass */
  .eigth .gallery a:nth-child(3) {
    top: 120px;
    left: 5px;
    width: 200px;
  }
  /* line 1126, ../sass/style.sass */
  .eigth .gallery a:nth-child(4) {
    top: 162px;
    left: 210px;
    width: 163px;
  }
  /* line 1130, ../sass/style.sass */
  .eigth .gallery a:nth-child(5) {
    top: 197px;
    left: 5px;
    width: 200px;
  }
  /* line 1134, ../sass/style.sass */
  .eigth .gallery a:nth-child(6) {
    top: 359px;
    left: 210px;
    width: 164px;
  }
  /* line 1138, ../sass/style.sass */
  .eigth .gallery a:nth-child(7) {
    top: 430px;
    left: 5px;
    width: 175px;
  }
  /* line 1142, ../sass/style.sass */
  .eigth .gallery a:nth-child(8) {
    top: 526px;
    left: 185px;
    width: 188px;
  }
  /* line 1146, ../sass/style.sass */
  .eigth .gallery a:nth-child(9) {
    top: 731px;
    left: 5px;
    width: 175px;
  }
  /* line 1150, ../sass/style.sass */
  .eigth .gallery a:nth-child(10) {
    top: 640px;
    left: 5px;
    width: 175px;
  }
  /* line 1154, ../sass/style.sass */
  .eigth .gallery a:nth-child(11) {
    top: 624px;
    left: 185px;
    width: 188px;
  }

  /* line 1159, ../sass/style.sass */
  .tenth li {
    margin: 0 auto 17px;
    float: none;
  }
  /* line 1162, ../sass/style.sass */
  .tenth li:nth-child(13) {
    margin: 0 auto 17px;
  }

  /* line 1164, ../sass/style.sass */
  .twelfth {
    padding: 10px 0;
  }
  /* line 1167, ../sass/style.sass */
  .twelfth .grid figure {
    width: calc(100% - 20px);
    height: 260px;
    margin: 5px 10px;
  }
  /* line 1171, ../sass/style.sass */
  .twelfth .grid h2 {
    font-size: 48px;
  }
  /* line 1173, ../sass/style.sass */
  .twelfth .grid p {
    font-size: 19px;
  }

  /* line 1176, ../sass/style.sass */
  .fourteenth .subheader {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 1179, ../sass/style.sass */
  .fourteenth .subheader span {
    margin-top: 7px;
    font-size: 30px;
  }
  /* line 1182, ../sass/style.sass */
  .fourteenth [class*="img-"] {
    position: static;
    margin-top: 10px;
    width: 100%;
    border: none;
  }
  /* line 1187, ../sass/style.sass */
  .fourteenth .text {
    width: 100%;
  }
  /* line 1189, ../sass/style.sass */
  .fourteenth .more-info {
    line-height: 1.5;
    text-align: center;
  }

  /* line 1193, ../sass/style.sass */
  .sixteenth .subheader {
    float: none;
    width: 100%;
  }
  /* line 1196, ../sass/style.sass */
  .sixteenth .subheader span {
    font-size: 30px;
  }
  /* line 1198, ../sass/style.sass */
  .sixteenth [class*="part"] {
    float: none;
    width: 100%;
  }
  /* line 1201, ../sass/style.sass */
  .sixteenth [class*="part"] p a img {
    float: none;
    margin: 0 auto;
  }

  /* line 1204, ../sass/style.sass */
  .form {
    clear: both;
    overflow: hidden;
    height: auto;
    padding: 40px 10px;
  }
  /* line 1209, ../sass/style.sass */
  .form h2 {
    font-size: 36px;
  }
  /* line 1211, ../sass/style.sass */
  .form input {
    width: 100%;
    margin-top: 35px;
  }
  /* line 1214, ../sass/style.sass */
  .form .placeholder {
    text-align: left;
  }
  /* line 1217, ../sass/style.sass */
  .form [type="text"] + .placeholder {
    top: 140px;
    left: 35px;
  }
  /* line 1220, ../sass/style.sass */
  .form [type="email"] + .placeholder {
    top: 196px;
    left: 35px;
  }
  /* line 1223, ../sass/style.sass */
  .form [type="tel"] + .placeholder {
    top: 270px;
    left: 35px;
  }
  /* line 1226, ../sass/style.sass */
  .form textarea + .placeholder {
    top: 350px;
    left: 35px;
  }
  /* line 1229, ../sass/style.sass */
  .form .button {
    width: 50%;
  }

  /* line 1231, ../sass/style.sass */
  footer {
    height: 180px;
    line-height: 30px;
    text-align: center;
  }
  /* line 1235, ../sass/style.sass */
  footer .copy {
    display: block;
  }
  /* line 1237, ../sass/style.sass */
  footer .smarto {
    float: none;
  }

  /* line 1240, ../sass/style.sass */
  [class*="fancybox"] .form {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 380px) and (min-width: 320px) {
  /* line 1244, ../sass/style.sass */
  .wrapper {
    max-width: 380px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 1248, ../sass/style.sass */
  .first .first_name {
    left: 0;
  }

  /* line 1250, ../sass/style.sass */
  .first .subheader span {
    font-size: 30px;
  }

  /* line 1255, ../sass/style.sass */
  h2.title {
    font-size: 36px;
  }
  /* line 1257, ../sass/style.sass */
  h2.title + i {
    width: 80%;
  }

  /* line 1259, ../sass/style.sass */
  .button.button-red {
    width: 100%;
  }

  /* line 1261, ../sass/style.sass */
  .slider {
    height: 750px;
    width: calc(100% - 12px);
    background: rgba(0, 0, 0, 0.7);
  }
  /* line 1265, ../sass/style.sass */
  .slider h4 {
    font-size: 28px;
  }
  /* line 1267, ../sass/style.sass */
  .slider svg {
    display: none;
  }
  /* line 1269, ../sass/style.sass */
  .slider .svg-wrapper {
    padding-bottom: 700px;
  }
  /* line 1271, ../sass/style.sass */
  .slider .cd-radial-slider-content .wrapper > div {
    padding: 0 8%;
  }
  /* line 1273, ../sass/style.sass */
  .slider .cd-radial-slider-navigation li {
    right: 1%;
  }
  /* line 1275, ../sass/style.sass */
  .slider .cd-radial-slider-navigation li:last-of-type {
    left: 1%;
  }

  /* line 1277, ../sass/style.sass */
  body {
    min-width: 300px;
  }

  /* line 1279, ../sass/style.sass */
  .header {
    min-width: 300px;
    position: fixed;
    text-align: center;
    height: 350px;
  }
  /* line 1284, ../sass/style.sass */
  .header .logo {
    float: none;
    display: inline-block;
    margin-top: 35px;
  }
  /* line 1288, ../sass/style.sass */
  .header-nav {
    float: none;
    margin: 30px auto;
  }
  /* line 1291, ../sass/style.sass */
  .header-nav li {
    display: none;
  }
  /* line 1293, ../sass/style.sass */
  .header-nav li.mobile {
    display: block !important;
    width: 68px;
    height: 35px;
    background: url("../img/icons/gamburger.png") no-repeat;
    border-right: 0;
    padding: 0;
    margin: auto;
  }
  /* line 1301, ../sass/style.sass */
  .header-nav li.mobile ul {
    display: none;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F22833;
    border-radius: 4px;
  }
  /* line 1310, ../sass/style.sass */
  .header-nav li.mobile ul li {
    display: block;
    border-right: none;
  }
  /* line 1313, ../sass/style.sass */
  .header-nav li.mobile ul li:first-child {
    height: 40px;
  }
  /* line 1315, ../sass/style.sass */
  .header-nav li.mobile ul li a {
    font-size: 24px;
    line-height: 36px;
    display: block;
  }
  /* line 1319, ../sass/style.sass */
  .header-callback {
    float: none;
    width: 280px;
    height: auto;
    margin: auto;
    font-size: 14px;
  }
  /* line 1325, ../sass/style.sass */
  .header-callback em {
    margin-top: 10px;
    font-size: 24px;
  }
  /* line 1328, ../sass/style.sass */
  .header .callback {
    margin-top: 25px;
  }
  /* line 1330, ../sass/style.sass */
  .header.zipped {
    height: 80px;
  }
  /* line 1332, ../sass/style.sass */
  .header.zipped .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 1335, ../sass/style.sass */
  .header.zipped .logo {
    float: right;
    margin: 15px;
    width: 185px;
  }
  /* line 1339, ../sass/style.sass */
  .header.zipped .logo img {
    width: 100%;
  }
  /* line 1341, ../sass/style.sass */
  .header.zipped .header-callback {
    display: none;
  }
  /* line 1343, ../sass/style.sass */
  .header.zipped .header-nav {
    float: left;
    margin-left: 20px;
  }
  /* line 1347, ../sass/style.sass */
  .header.zipped + .first h2 {
    transition-duration: 1s;
    margin-top: 375px;
  }

  /* line 1350, ../sass/style.sass */
  .first {
    height: 2140px;
  }
  /* line 1352, ../sass/style.sass */
  .first h2 {
    margin: 400px 20px 35px;
  }
  /* line 1354, ../sass/style.sass */
  .first .subheader {
    font-size: 48px;
    margin: 0 10px;
  }
  /* line 1357, ../sass/style.sass */
  .first .trigger-0 {
    top: 380px;
  }
  /* line 1359, ../sass/style.sass */
  .first .slider {
    margin: 1250px 6px 0;
  }

  /* line 1361, ../sass/style.sass */
  .second, .ninth, .eleventh, .thirteenth, .fifteenth {
    height: 150px;
    line-height: 150px;
  }

  /* line 1364, ../sass/style.sass */
  .third, .fifth {
    text-align: center;
  }
  /* line 1366, ../sass/style.sass */
  .third .lamps, .fifth .lamps {
    display: block;
  }
  /* line 1369, ../sass/style.sass */
  .third .lamps i:nth-child(1), .fifth .lamps i:nth-child(1) {
    left: -7%;
  }
  /* line 1371, ../sass/style.sass */
  .third .lamps i:nth-child(2), .fifth .lamps i:nth-child(2) {
    left: 22%;
  }
  /* line 1373, ../sass/style.sass */
  .third .lamps i:nth-child(3), .fifth .lamps i:nth-child(3) {
    left: 53%;
  }
  /* line 1375, ../sass/style.sass */
  .third .subheader, .fifth .subheader {
    margin-top: 100px;
  }
  /* line 1377, ../sass/style.sass */
  .third .subheader span, .fifth .subheader span {
    font-size: 24px;
    margin-top: 6px;
  }

  /* line 1382, ../sass/style.sass */
  .fourth .wrapper:before, .fourth .wrapper:after {
    display: none;
  }
  /* line 1384, ../sass/style.sass */
  .fourth .clock {
    margin: 13px 30px;
  }
  /* line 1386, ../sass/style.sass */
  .fourth li {
    float: none;
    margin: 0 auto 50px;
  }
  /* line 1389, ../sass/style.sass */
  .fourth li:after {
    display: none;
  }
  /* line 1391, ../sass/style.sass */
  .fourth li:nth-child(4n) {
    margin-right: auto;
  }

  /* line 1393, ../sass/style.sass */
  .seventh {
    height: 415px;
    background-size: auto 100%;
  }
  /* line 1396, ../sass/style.sass */
  .seventh h2 {
    margin-top: 75px;
  }
  /* line 1398, ../sass/style.sass */
  .seventh h2 + i {
    top: 95px;
  }

  /* line 1400, ../sass/style.sass */
  .eigth {
    height: auto;
    padding-bottom: 85px;
  }
  /* line 1403, ../sass/style.sass */
  .eigth #openGal {
    margin-top: 960px;
  }
  /* line 1407, ../sass/style.sass */
  .eigth .lamps i:nth-child(1) {
    left: -7%;
  }
  /* line 1409, ../sass/style.sass */
  .eigth .lamps i:nth-child(2) {
    left: 22%;
  }
  /* line 1411, ../sass/style.sass */
  .eigth .lamps i:nth-child(3) {
    left: 53%;
  }
  /* line 1413, ../sass/style.sass */
  .eigth .lamps i:last-child {
    display: none;
  }
  /* line 1415, ../sass/style.sass */
  .eigth .gallery {
    margin: 70px auto 50px;
    height: 940px;
    max-width: 380px;
  }
  /* line 1419, ../sass/style.sass */
  .eigth .gallery a {
    position: absolute;
  }
  /* line 1421, ../sass/style.sass */
  .eigth .gallery a img {
    width: 98%;
  }
  /* line 1423, ../sass/style.sass */
  .eigth .gallery a:after {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(255, 0, 11, 0.7);
  }
  /* line 1432, ../sass/style.sass */
  .eigth .gallery a:hover:after {
    display: block;
  }
  /* line 1434, ../sass/style.sass */
  .eigth .gallery a:nth-child(1) {
    top: 0;
    left: 5px;
    width: 230px;
  }
  /* line 1438, ../sass/style.sass */
  .eigth .gallery a:nth-child(2) {
    top: 0;
    left: 240px;
    width: 133px;
  }
  /* line 1442, ../sass/style.sass */
  .eigth .gallery a:nth-child(3) {
    top: 120px;
    left: 5px;
    width: 200px;
  }
  /* line 1446, ../sass/style.sass */
  .eigth .gallery a:nth-child(4) {
    top: 162px;
    left: 210px;
    width: 163px;
  }
  /* line 1450, ../sass/style.sass */
  .eigth .gallery a:nth-child(5) {
    top: 197px;
    left: 5px;
    width: 200px;
  }
  /* line 1454, ../sass/style.sass */
  .eigth .gallery a:nth-child(6) {
    top: 359px;
    left: 210px;
    width: 164px;
  }
  /* line 1458, ../sass/style.sass */
  .eigth .gallery a:nth-child(7) {
    top: 430px;
    left: 5px;
    width: 175px;
  }
  /* line 1462, ../sass/style.sass */
  .eigth .gallery a:nth-child(8) {
    top: 526px;
    left: 185px;
    width: 188px;
  }
  /* line 1466, ../sass/style.sass */
  .eigth .gallery a:nth-child(9) {
    top: 731px;
    left: 5px;
    width: 175px;
  }
  /* line 1470, ../sass/style.sass */
  .eigth .gallery a:nth-child(10) {
    top: 640px;
    left: 5px;
    width: 175px;
  }
  /* line 1474, ../sass/style.sass */
  .eigth .gallery a:nth-child(11) {
    top: 624px;
    left: 185px;
    width: 188px;
  }

  /* line 1479, ../sass/style.sass */
  .tenth li {
    margin: 0 auto 17px;
    float: none;
  }
  /* line 1482, ../sass/style.sass */
  .tenth li:nth-child(13) {
    margin-left: auto;
  }

  /* line 1484, ../sass/style.sass */
  .twelfth {
    padding: 10px 0;
    width: 98%;
  }
  /* line 1488, ../sass/style.sass */
  .twelfth .grid figure {
    width: calc(100% - 20px);
    height: 260px;
    margin: 5px 10px;
  }
  /* line 1492, ../sass/style.sass */
  .twelfth .grid h2 {
    font-size: 48px;
  }
  /* line 1494, ../sass/style.sass */
  .twelfth .grid p {
    font-size: 19px;
  }

  /* line 1497, ../sass/style.sass */
  .fourteenth .wrapper {
    margin: 8px 2% 100px;
  }
  /* line 1499, ../sass/style.sass */
  .fourteenth .subheader {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 1502, ../sass/style.sass */
  .fourteenth .subheader span {
    margin-top: 7px;
    font-size: 30px;
  }
  /* line 1505, ../sass/style.sass */
  .fourteenth [class*="img-"] {
    position: static;
    margin-top: 10px;
    width: 96%;
    border: none;
  }
  /* line 1510, ../sass/style.sass */
  .fourteenth .text {
    width: 96%;
    margin-left: 10px;
  }
  /* line 1513, ../sass/style.sass */
  .fourteenth .more-info {
    line-height: 1.5;
    text-align: center;
  }

  /* line 1517, ../sass/style.sass */
  .sixteenth .wrapper {
    margin: 75px 2% 105px;
  }
  /* line 1520, ../sass/style.sass */
  .sixteenth .wrapper .logo_kdd img {
    padding-bottom: 17px;
  }
  /* line 1522, ../sass/style.sass */
  .sixteenth .subheader {
    float: none;
    width: 100%;
  }
  /* line 1525, ../sass/style.sass */
  .sixteenth .subheader span {
    font-size: 30px;
  }
  /* line 1527, ../sass/style.sass */
  .sixteenth [class*="part"] {
    float: none;
    width: 96%;
    margin-left: 2%;
  }
  /* line 1531, ../sass/style.sass */
  .sixteenth [class*="part"] .docs .maindocs {
    margin: 1.5%;
  }
  /* line 1533, ../sass/style.sass */
  .sixteenth [class*="part"] p a img {
    float: none;
    margin: 0 auto;
  }

  /* line 1536, ../sass/style.sass */
  .form {
    height: 770px;
  }
  /* line 1539, ../sass/style.sass */
  .form .g-recaptcha {
    float: none;
    width: 220px;
    overflow: hidden;
  }
  /* line 1543, ../sass/style.sass */
  .form h2 {
    font-size: 36px;
  }
  /* line 1545, ../sass/style.sass */
  .form input {
    width: 100%;
    margin-top: 25px;
  }
  /* line 1548, ../sass/style.sass */
  .form .placeholder {
    font-size: 16px;
    width: 100%;
    text-align: left;
  }
  /* line 1552, ../sass/style.sass */
  .form [type="text"] + .placeholder {
    top: 146px;
    left: 35px;
  }
  /* line 1555, ../sass/style.sass */
  .form [type="email"] + .placeholder {
    top: 210px;
    left: 35px;
  }
  /* line 1558, ../sass/style.sass */
  .form [type="tel"] + .placeholder {
    top: 275px;
    left: 35px;
  }
  /* line 1561, ../sass/style.sass */
  .form textarea + .placeholder {
    top: 350px;
    left: 35px;
  }

  /* line 1564, ../sass/style.sass */
  footer {
    height: 180px;
    line-height: 30px;
    text-align: center;
  }
  /* line 1568, ../sass/style.sass */
  footer .copy {
    display: block;
  }
  /* line 1570, ../sass/style.sass */
  footer .smarto {
    float: none;
  }
  /* line 1572, ../sass/style.sass */
  footer .fb-foot {
    margin-right: 0px;
  }

  /* line 1575, ../sass/style.sass */
  [class*="fancybox"] .form {
    width: 100%;
    margin-top: 0;
  }
}
/* line 1578, ../sass/style.sass */
.title.fash {
  font-size: 75px;
}

@media screen and (max-width: 768px) {
  /* line 1581, ../sass/style.sass */
  .title.fash {
    font-size: 20px;
  }
}
