.ch-app {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.ch-app__btn {
	width: 30%;
	text-align: center;
}

.ch-planapp__item {
	display: none;
	text-align: center;
}

.ch-planapp__item.active {
	display: block;
}

.ch-app__btn .ch-reserv{
	border: 1px solid #ffffff;
	cursor: pointer;
}

.active .ch-reserv {
	background-color: white;
    color: #ef2732;
    border: 1px solid #ef2732;
}

@media screen and (max-width: 768px) {
	.ch-app {
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		padding-top: 10px;
	}
	.ch-app__btn {
		width: 100%;
		margin-bottom: 10px;	
	}
}

@media screen and (max-width: 856px) and (min-width: 320px) {
	.ch-app-up .ch-planapp {
		height: auto;
	}
}