/* кнопки - табы*/
.ch-app {
	padding: 20px 0;
}
.ch-app__btn {
	width: 30%;
	text-align: center;
}
.ch-planapp__item {
	display: none;
	text-align: center;
}
.ch-planapp__item.active {
	display: block;
}
.ch-app__btn .ch-reserv{
	border: 1px solid #ffffff;
	cursor: pointer;
	width: 100%;
	text-align: center;
	padding: 10px;
	display: block;
	background: #ef2732;
	color: #fff;
}
.active .ch-reserv {
	background-color: white;
    color: #ef2732;
    border: 1px solid #ef2732;
}
@media screen and (max-width: 768px) {
	.ch-app {
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		padding-top: 10px;
	}
	.ch-app__btn {
		width: 100%;
		margin-bottom: 10px;
	}
}

                                        /*appart.php*/
.appart_plan{
  background-image: url(../img/choice/bg.jpg);
  background-size: cover;
  padding: 100px 0 50px;
}
.appart_plan .wrapper{
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.appart_aside, .appart_bside{
  width: 23%;
  padding: 20px;
}
.appart_cside{
  padding: 20px;
  width: 50%;
}
.btn_box .button{
	width: 100%;
	max-width: 300px;
	font-size: 16px;
	margin: 10px auto;
}
.btn_box .button-red{
	background: #fff;
	color: #ef2732;
	border-width: 2px;
}
.btn_box .button:hover{
	background: #fff;
	color: #ef2732;
}
.btn_box .button-red:hover{
	background: #ef2732;
	color: #ffffff;
}
.button{
  padding: 10px;
  font-family: "HeliosCond", arial, sans-serif;
}
.new-app {
  font-size: 16px;
  font-weight: 100;
  display: block;
  margin: 16px auto;
  text-transform: none;
  border: 1px solid red;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
	max-width: 200px;
}
.table ul{
	padding: 20px;
}
.table ul li {
  text-align: right;
  padding: 2px 0;
}
.table ul li:first-child {
  display: block;
  color: white;
  background-color: #ef2732;
  text-align: -webkit-center;
  padding: 4px;
  margin-bottom: 12px;
}
.table ul li:nth-child(2) {
  border-bottom: 1px solid black;
}
.table ul li:nth-child(4) {
  border-bottom: 1px solid black;
}
.table ul li p {
  float: left;
}
.ch-planapp img,
.house_map{
	cursor: pointer;
}
.house_map{
	margin-top: 24px;
}
.box_flat_plan,
.box_house_plan{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: rgba(245,245,245,.9);
	padding: 50px;
	z-index: 1000;
	transition: 0.36s;
	-webkit-transition: 0.36s;
	opacity: 0;
	pointer-events: none;
	}

.box_flat_plan.is_active,
.box_house_plan.is_active{
	opacity: 1;
	pointer-events: all;
}
.box_flat_plan span,
.box_house_plan span{
	font-size: 24px;
}
.flat-plan_img{
	width: 100%;
	height: 100%;
}
.flat-plan_img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.close-box{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.appart_plan .wrapper{
		flex-direction: column;
		-webkit-flex-direction: column;
		padding-top: 40px;
	}
	.appart_aside, .appart_bside, .appart_cside{
		width: 100%;
	}
	.appart_aside{
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		align-items: center;
		-webkit-align-items: center;
	}
	.subheader{
		width: 100%;
		margin: 0 auto;
	}
	.appart_aside .new-app{
		width: 48%;
	}
	.appart_aside img{
		width: 48%;
	}
	.appart_aside img.compas{
		max-width: 150px;
		padding: 20px;
	}
}

/*house - choice.php*/
body.no_width{
	min-width: 0;
}
.house_plan{
	background-image: url('../img/choice/bg.jpg');
  background-size: cover;
  padding: 78px 0 0px;
	margin-bottom: -3px;

}
.svg_house g.g100 { fill: #EF2732; opacity: 0.3;  }
.svg_house g.g100.active { fill: #EF2732; opacity: 0.7!important; }
.house_aside, .house_bside{
	width: 50%;
}
.ch-name-text {
  text-transform: uppercase;
  text-align: center;
  padding: 24px 0;
	line-height: 1.5;
}
.ch-name-text h3 {
	font-size: 20px;
	font-weight: 200;
}
.ch-name-text p, .ch-name-text p span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.ch-name-text .mobil{
	display: none;
}
.num_box{
	justify-content: center;
	-webkit-justify-content: center;
  border-bottom: 1px solid #dad2d0;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	margin-bottom: 24px;
}
.num_box div{
	padding: 20px 30px;
}
.num_box span{
	font-size: 100px;
  color: #ef2732;
}
.num_box p {
 font-size: 18px;
 text-transform: uppercase;
 color: black;
}
.house_aside .button{
	width: 100%;
	max-width: 250px;
}
.komnati--link {
  padding: 20px 0 10px;
  margin: 0 auto;
}
.komnati--link li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  line-height: 22px;
  transition: 0.3s;
}
.komnati--link li a:hover {
  color: darkred;
}
.house_bside{
	position: relative;
}
.house_bside svg{
	width: 100%;
}
@-webkit-keyframes migal {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes migal {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes migal {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes migal {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
#strelka {
  padding: 10px;
  background: #E0E7ED;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  position: absolute;
  top: 25%;
  left: 14px;
  -webkit-animation: migal 1.4s infinite;
  -moz-animation: migal 1.4s infinite;
  -o-animation: migal 1.4s infinite;
  animation: migal 1.4s infinite;
	opacity: 1;
	pointer-events: none;
	transition-duration: .6s;
}
 #strelka:after {
  content: "";
  position: absolute;
  bottom: -56px;
  height: 56px;
  width: 50px;
  right: 50px;
  background: url(../img/strelka.svg);
  background-size: contain;
}
#strelka.strelka-hidden{
	opacity: 0;
	-webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
@media only screen and (max-width: 1024px) {
	.num_box span {
    font-size: 60px;
}
}
@media only screen and (max-width: 768px) {
	.house_aside, .house_bside{
		width: 100%;
	}
	.ch-name-text{
		padding-bottom: 0;
	}
	.num_box{
		margin-bottom: 0;
	}
	.komnati--link {
    padding: 10px 0 10px;
		line-height: 2;
	}
	#strelka{
		display: none;
	}
}
@media only screen and (max-width: 380px) {
	.house_plan{
		padding-top: 140px;
	}
}

/*floor-plan plans*/
.floor_plan{
	background-image: url('../img/choice/bg.jpg');
  background-size: cover;
  padding: 150px 0 50px;
}
.floor_aside, .floor_bside{
	width: 25%;
	padding: 20px;
}
.floor_aside .new-app{
	margin: 80px auto;
}
.floor_bside .button,
.floor_bside .button-red{
	width: 100%;
	max-width: 260px;
	padding: 10px;
	font-size: 16px;
	border-width: 2px;
	margin: 10px auto;
}
.floor_bside .button-red{
	background-color: #ffffff;
	color: #ef2732;
}
.floor_bside .button:not(.button-red):hover{
	border-color: #ef2732;
}
.floor_cside{
	width: 40%;
	padding: 20px;
}
.floor_cside .img_plan{
	position: relative;
	max-width: 500px;
}

.street{
	position: absolute;
  top: -90px;
  left: 80px;
	pointer-events: none;
}
.drop {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ef2732;
  position: absolute;
  transition: 0.35s;
}
.drop-text {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 6px;
}

.drop:hover {
  background-color: #CA2732;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
.drop--1 { right: 80%; top: 54%;}
.drop--2 { right: 80%; top: 37%;}
.drop--3 { right: 80%; top: 22%;}
.drop--4 { right: 74%; top: 5%;}
.drop--5 { right: 53%; top: 5%;}
.drop--6 { right: 34%; top: 22%;}
.drop--7 { right: 8%; top: 35%;}
.drop--8 { right: 8%; top: 47%;}
.drop--9 { right: 8%; top: 61%;}
.drop--10 { right: 8%; top: 77%;}
.drop--11 { right: 8%; top: 90%;}
.drop--12 { right: 34%; top: 90%;}
.drop--13 { right: 34%; top: 72%;}
.drop--14 { right: 34%; top: 56%;}
.drop--15 { right: 13%; top: 60%;}
.drop--16 { right: 30%; top: 70%;}
.drop--17 { right: 13%; top: 60%;}
.drop--18 { right: 30%; top: 70%;}
.drop--19 { right: 17%; top: 37%;}
.drop--20 { right: 23%; top: 53%;}
.drop--21 { right: 30%; top: 70%;}
.drop--22 { right: 50%; top: 53%;}
.drop--23 { right: 17%; top: 37%;}
.drop--24 { right: 23%; top: 53%;}
.drop--25 { right: 74%; top: 10%;}
.drop--26 { right: 53%; top: 10%;}
.drop--27 { right: 74%; top: 10%;}
.drop--28 { right: 53%; top: 10%;}
.drop--29 {right: 17%; top: 37%;}
.drop--30 {right: 24%; top: 37%;}
.drop--31 {right: 80%; top: 63%;}
.drop--32 {right: 80%; top: 37%;}
.drop--33 {right: 80%; top: 22%;}
.drop--34 {right: 74%; top: 10%;}
.drop--35 {right: 53%; top: 10%;}
.drop--36 {right: 34%; top: 22%;}
.drop--37 {right: 23%; top: 44%;}
.drop--38 {right: 23%; top: 63%;}
.drop--39 {right: 30%; top: 82%;}
.drop--40 {right: 50%; top: 63%;}
.img-11-14{
	margin-bottom: 116px;
}
.img-15{
	margin-bottom: 76px;
}
.img-16, .img-17{
	margin-bottom: 88px;
}
.img-18-20, .img-21, .img-22{
	margin-bottom: 72px;
}


@media only screen and (max-width:1024px) {
	.floor_cside {
    width: 45%;
}
}
@media only screen and (max-width:767px) {
	.floor_plan .wrapper{
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.floor_aside,
	.floor_bside,
	.floor_cside {
    width: 100%;
}
.floor_plan {
    padding: 80px 0 50px;
}
.floor_plan h1{
	display: inline-block;
}
.floor_aside .new-app {
    margin: 20px auto;
}
.floor_plan .compas{
	margin-left: 40px;
  max-width: 80px;
  float: left;
}
}
@media only screen and (max-width:420px) {
	.floor_plan .compas{
		margin-left: 10px;
	}
	.street {
    left: 60px;
}
.img-11-14{
	margin-bottom: 70px;
}

}
