html, body {
	height: 100%;
	min-width: 0;
}
.section_select{
	min-height: 100%;
}
.h1_wrapper{
	background: url('../img/bg-15.jpg') center;
	padding-top: 70px;
}
h1 {
	font-size: 50px;
	padding: 50px 20px 30px;
	color: #fff;
}
sup{
	font-size: 80%;
}
.select-info{
  font-size: 24px;
  color: white;
  text-indent: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px 10px;
  line-height: 1.5;
}
.select_tabs {
  width: 100%;
  margin: 20px auto;
}
.select_tabs ul {
  text-align: center;
}
.select_tabs li {
  display: inline-block;
}
.select_tabs li a {
  font-family: "HeliosCond", arial, sans-serif;
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 22px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  padding: 6px 30px;
  outline: none;
  border: none;
}
a:focus, a:active{
  outline: none;
  border: none;
}
.select_tabs li.active a,
.select_tabs li a:hover{
  color: red;
}

.select_box{
	flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: 20px;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	padding: 0 14px;
}
.room_item {
    width: 19%;
    background-color: #f0f0f0;
    margin-bottom: 16px;
    transition: 0.36s;
    -webkit-transition: .36s;
}
.is-empty{
	width: 19%;
	pointer-events: none;
}
.room_item:hover {
    box-shadow: 1px 1px 18px #ef2732;
    -webkit-box-shadow: 1px 1px 18px #ef2732;
}
.room_item_inner {
    padding: 10px;
}
.room_item_img {
    width: 100%;
    height: 138px;
    margin: 12px auto;
}
.select_box_commerce .room_item_img{
	height: auto;
	margin: 0;
}
.room_item_img img {
		width: 100%;
    height: 100%;
    object-fit: contain;
}
.rooms_table {
    font-size: 14px;
		width: 100%;
    line-height: 1.6;
    margin: 0 auto 4px;
}
.rooms_table td:nth-child(1) {
    text-align: left;
    padding-right: 4px;
}
.rooms_table td:nth-child(2) {
    text-align: left;
    padding-left: 4px;
}
.room_item .button{
	width: 100%;
  border-radius: 0;
  padding: 10px 0;
  font-family: inherit;
  font-size: 14px;
}

.select-info h2{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
}
.select-info p {
	line-height: 40px;
  text-align: left;
}
.select-info ul li,
.select-info ol li {
	list-style: disc;
	line-height: 40px;
	list-style-position: inside;
}
.select-info ol li ul{
	list-style-type: square;
	padding-left: 40px;
}
.select_tabs li a.active {
		color: red;
	}
.modal_for_commerc{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(240, 240, 240, 0.9);
	padding: 40px;
	z-index: 1000;
	opacity: 0;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	pointer-events: none;
}
.modal_for_commerc.opened{
	opacity: 1;
	pointer-events: all;
}
.modalbox_close{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.main_appart_img,
.main_appart_img img{
	width: 100%;
	height: 100%;
}
.main_appart_img img {
	object-fit: contain;
}
.flex-link{
	padding: 30px;
	text-align: left;
  line-height: 1.6;
  font-size: 20px;
  text-transform: uppercase;
	color: #ffffff;
}
.news_other {width: 50%;}
.other_news_item{
	font-weight: 200;
	display: block;
	transition: 0.25s;
}
.other_news_item:hover {
color:#ef2732;
}

@media only screen and (max-width:1024px) {
	.room_item, .is-empty{
		width: 24%;
	}
}
@media only screen and (max-width:768px) {
	h1 {
	    font-size: 40px;
			padding: 90px 20px 30px;
	}
	.room_item, .is-empty{
		width: 32%;
	}
.select-info p,
.select-info ul li,
.select-info ol li {
    line-height: 30px;
    font-size: 20px;
}
.select-info h2 {
    font-size: 26px;
    line-height: 38px;
}

}
@media only screen and (max-width:600px){
	.room_item, .is-empty{
		width: 48%;
	}
	.flex-link {flex-direction: column;}
	.news_other {	width: 100%;}
}
@media only screen and (max-width:430px){
	.room_item, .is-empty{
		width: 100%;
	}
}

/*Фильтр*/
/*filter*/
.range-section{
	padding: 50px 20px 20px;
	color: #ffffff;
}
.range_inner {
  margin: 40px auto;
}
.range__item {
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
  width: 22%;
}
.range_input {
  width: 100%;
}
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 24, ../sass/_ion.scss */
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}

/* line 29, ../sass/_ion.scss */
.irs-line-left, .irs-line-mid, .irs-line-right {
  position: absolute;
  display: block;
  top: 0;
}

/* line 33, ../sass/_ion.scss */
.irs-line-left {
  left: 0;
  width: 11%;
}

/* line 36, ../sass/_ion.scss */
.irs-line-mid {
  left: 9%;
  width: 82%;
}

/* line 39, ../sass/_ion.scss */
.irs-line-right {
  right: 0;
  width: 11%;
}

/* line 42, ../sass/_ion.scss */
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

/* line 46, ../sass/_ion.scss */
.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

/* line 50, ../sass/_ion.scss */
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

/* line 54, ../sass/_ion.scss */
.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}

/* line 62, ../sass/_ion.scss */
.irs-slider.type_last {
  z-index: 2;
}

/* line 63, ../sass/_ion.scss */
.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}

/* line 68, ../sass/_ion.scss */
.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}

/* line 73, ../sass/_ion.scss */
.irs-from, .irs-to, .irs-single {
  text-align: center;
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

/* line 80, ../sass/_ion.scss */
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

/* line 85, ../sass/_ion.scss */
.irs-with-grid .irs-grid {
  display: block;
}

/* line 88, ../sass/_ion.scss */
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

/* line 94, ../sass/_ion.scss */
.irs-grid-pol.small {
  height: 4px;
}

/* line 97, ../sass/_ion.scss */
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

/* line 106, ../sass/_ion.scss */
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: transparent;
  z-index: 2;
}

/* line 114, ../sass/_ion.scss */
.irs-disabled {
  opacity: 0.4;
}

/* line 117, ../sass/_ion.scss */
.lt-ie9 .irs-disabled {
  filter: alpha(opacity=40);
}

/* line 120, ../sass/_ion.scss */
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

/* Ion.RangeSlider, Simple Sk */
/* line 139, ../sass/_ion.scss */
.irs {
  height: 60px;
}

/* line 140, ../sass/_ion.scss */
.irs-with-grid {
  /*height: 75px;*/
}

.irs-line {
  height: 2px;
  top: 33px;
  background: #666;
}

.irs-line-left {
  height: 8px;
}

.irs-line-mid {
  height: 8px;
}

.irs-line-right {
  height: 8px;
}

.irs-bar {
  height: 2px;
  top: 33px;
  background: #a22122;
}

.irs-bar-edge {
  height: 10px;
  top: 33px;
  width: 14px;
  border: 1px solid #a22122;
  border-right: 0;
  background: #428bca;
  background: linear-gradient(to top, #428bca 0%, #7fc3e8 100%);
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}
.irs-shadow {
  height: 2px;
  top: 38px;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
  filter: alpha(opacity=30);
}
.irs-slider {
  top: 27px;
  width: 12px;
  height: 12px;
  background: #ffffff;;
  border-radius: 100%;
  -moz-border-radius: 100%;
  cursor: pointer;
}
.irs-slider.state_hover, .irs-slider:hover {
  background: #4b4d56;
}
.irs-min, .irs-max {
  color: #333;
  font-size: 12px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc;
}
.irs-from, .irs-to, .irs-single {
  width: 66px;
  cursor: pointer;
  text-shadow: none;
  padding: 8px;
  background: transparent;
  border-radius: 100%;
  -moz-border-radius: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999;
}
.irs-grid {
  height: 27px;
}
.irs-grid-pol {
  opacity: 0.5;
  background: #428bca;
}
.irs-grid-pol.small {
  background: #999;
}
.irs-grid-text {
  bottom: 5px;
  color: #99a4ac;
}
.filter-page {
  color: #636671;
  font-size: 12px;
}
.range_button {
  align-items: center;
  -webkit-align-items: center;
  margin-bottom: 24px;
}
.range_button .button {
  padding: 15px 30px;
}
.range_button > * {
  width: 26%;
}
.reset_button {
  cursor: pointer;
}

/* line 2546, ../sass/style.scss */
.checkbox_input {
  align-items: center;
  -webkit-align-items: center;
}

/* line 2550, ../sass/style.scss */
.filter__checkbox {
  display: none;
}

/* line 2553, ../sass/style.scss */
.checkbox__text {
  text-align: center;
  line-height: 38px;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #a22122;
  transition: background-color 0.5s;
  cursor: pointer;
}

/* line 2564, ../sass/style.scss */
.filter__checkbox:checked + .checkbox__text {
  background-color: #a22122;
  color: #ffffff;
}

/* line 2568, ../sass/style.scss */
.range_info {
  padding: 30px 0;
  border-top: 1px solid #d9dce5;
}

/* line 2572, ../sass/style.scss */
.range_info_item > * {
  margin: 0 20px;
}

/* line 2575, ../sass/style.scss */
.filter_ps {
  color: #d9dce5;
  margin-top: 20px;
  line-height: 2;
}
/* line 2579, ../sass/style.scss */
.filter_ps a {
  margin-left: 10px;
  color: #a22122;
}
@media only screen and (max-width: 1024px) {
  .range_inner {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .range__item {
    width: 45%;
  }

  .range_button > * {
    width: 31%;
  }

  .checkbox__text {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 768px) {
	/* line 509, ../sass/_mobile.scss */
  .range__item {
    margin-bottom: 0;
  }

  /* line 512, ../sass/_mobile.scss */
  .range_button {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  /* line 515, ../sass/_mobile.scss */
  .range_button .button {
    width: 100%;
    margin: 20px auto;
  }
  /* line 519, ../sass/_mobile.scss */
  .range_button .reset_button {
    width: 100%;
    text-align: center;
  }

  .checkbox_input {
    width: 100%;
  }
  .checkbox_input .filter_name {
    top: 0;
  }

  .irs-slider {
    width: 24px;
    height: 24px;
    top: 21px;
  }

  .filter-page .wrapper {
    padding: 0 10px;
  }

  .range_info {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  /* line 542, ../sass/_mobile.scss */
  .range_info_item {
    width: 100%;
  }

}
